.agrad {
    position:fixed;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 15px 50px;
    top:87%;
}

.l {
    height: 90px;
    position: fixed;
    top: 15%;
    left: 37%;
    color: #665533;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.ll {
    height: 90px;
    position: fixed;
    top: 60%;
    left: 5%;
    color: #665533;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.agrad1 {
    opacity: 50%;
    padding-top: 25px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 0;

}

.agrad2 {
    opacity: 50%;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 2.5;

}

.img6{
    position: fixed;
    top:88%;
    height: 100px;
    width:150px;
    padding-left: 46px;
}