* {
    margin: 0;
    box-sizing: border-box;
}

body {
   font-family: sans-serif;
   padding: 90px 20px 0;
}

.header {
    background-color: #4C17BF;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.footer {
    background-color: #4C17BF;
    height: 120px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.nav-link {
    color: white;
    text-decoration: none;
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}


.vid {
    padding-left: 40px;
}

.nav-menu {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-link {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-link:hover {
    background-color: #F2A922;
    font-size: 20px;
    transition: 0.5s;
}

.box {
  background-color: #9266F2;
  width: 100%;
  padding: 140px;
  margin: 90px;
  position: fixed;
  bottom: 0;
  left: -90px;
}

.container{
    display:flex;
}

.user{
    text-align: justify;
    padding: 140px;
    font-size:18px;
    line-height: 1.5;
}

.top{
  color: white;
  position:fixed;
  left:712px;
  top:55%;

}

.top1{
  color: white;
  position:fixed;
  left:635px;
  top:55%;

}

.img5{
    position: fixed;
    padding: 24px;
    height:150px;
    width:150px;
    top: 67%;
    left: 45%;
}

.p4{
    color: white;
    position: fixed;
    top: 85%;
    left: 919px;


}

.img6{
    position: fixed;
    padding: 10px;
    height:150px;
    width:150px;
    top: 67%;
    left: 35%;
}

.p5{
    color: white;
    position: fixed;
    top: 85%;
    left: 700px;
}

.img7{
    position: fixed;
    padding: 20px;
    height:150px;
    width:150px;
    top: 67%;
    left: 55%;
}

.p6{
    color: white;
    position: fixed;
    top: 85%;
    left: 1089px;
}

#Login { 
    position: absolute;
    top: 20%;
    left: 5%;
    height: 50%;
    width: 40%;
   background-color: #9266F2;
    padding: 10px;
}

#Registro { 
    position: absolute;
    top: 20%;
    right:  5%;
    height: 50%;
    width: 40%;
   background-color: #9266F2;
    padding: 10px;
}