* {
    margin: 0;
    box-sizing: border-box;
}

.tbody {
    height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}

.body1 {
   font-family: sans-serif;
   
}

.header {
    background-color: #4C17BF;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.footer1 {
    background-color: #4C17BF;
    height: 120px;
    position: absolute;
    align-items: end;
    left: 0;
    width: 100%;
    
  
}

.footer {
    
    background-color: #4C17BF;
    height: 120px;
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
  
}



.n {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

.nav-li {
    color: white;
    text-decoration: none;
}

.lo {
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
}

.lo:hover{
    font-size: 30px;
    font-weight: bold;
    padding: 0 40px;
    line-height: 90px;
    color:#F2A922;
}


.vid {
    padding-left: 40px;
}

.nav-me {
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-it {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-li {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-li:hover {
    background-color: #F2A922;
    font-size: 20px;
    transition: 0.5s;
    color: white;
}

.nav-men {
    position: fixed;
    top: 120px;
    display: flex;
    margin-left: -90px;
    list-style: none;
}

.nav-menu-ite {
    font-size: 18px;
    margin: 0 10px;
    line-height: 90px;
}

.nav-menu-lin {
    padding: 8px 12px;
    border-radius: 4px;
}

.nav-menu-lin:hover {
    color: #F2A922;
    font-size: 20px;
    transition: 0.5s;
}

.nav-lin {
    color: white;
    text-decoration: none;
}

.box {
  background-color: #9266F2;
  height: 37%;
  width: 100%;
  padding: 140px;
  margin: 90px;
  position: absolute;
  bottom: 0;
  left: -90px;
}

.box1 {
  background-color: #260D40;
  width: 40%;
  padding: 110px;
  padding-bottom: 107px;
  margin: 90px;
  position: fixed;
  bottom: 10%;
  left: -90px;
  top: 0px;
  height: 0px;
}

.box3 {
  background-color: white;
  width: 60%;
  padding: 110px;
  padding-bottom: 107px;
  margin: 90px;
  position: fixed;
  bottom: 10%;
  left: 1px;
  top: 0px;
  height: 0px;
}

.box2 {
  width: 100%;
  padding: 250px;
  padding-bottom: 228px;
  margin: 90px;
  position: relative;
  bottom: 0%;
  height: 90px;
  background-color: #9266F2;
  left: -90px;
  top: 215px;
}

.box7 {
  background-color: #9266F2;
  width: 100%;
  padding: 250px;
  padding-bottom: 228px;
  margin: 90px;
  position: relative;
  bottom: 0%;
  height: 90px;
  left: -90px;
  top: 215px;
}

.box15 {
  background-color: #260D40;
  width: 1626px;
  position: absolute;
  height: 90px;
  top: 90px;
  left: -90px;
}

.box4{
    
  width: 45%;
  position: absolute;
  left: 15px;
  border-radius: 25px;
  background-color: whitesmoke;
  border: 5px solid #260D40;
  padding: 10px;
  margin: 40px;
  top: 20%;
}

.box5{
  width: 45%;
  border: 5px solid #260D40;
  background-color: whitesmoke;
  position: absolute;
  right:15px;
  margin: 40px;
  padding: 10px;
  border-radius: 25px;
  top: 20%;
  
}

.box41{
    
  width: 45%;
  position: absolute;
  left: 15px;
  border-radius: 25px;
  background-color: whitesmoke;
  border: 5px solid #260D40;
  padding: 10px;
  margin: 40px;
  top: 10%;
}

.box51{
  width: 45%;
  border: 5px solid #260D40;
  background-color: whitesmoke;
  position: absolute;
  right:15px;
  margin: 40px;
  padding: 10px;
  
  border-radius: 25px;
  top: 10%;
  
}

.box6{
  width: 50%;
  border-radius: 25px;
  background-color: whitesmoke;
  border: 15px solid #260D40;
  padding: 10px;
  margin: 20px;
}

.but {
    height: 25px;
    position: fixed;
    left: 45%;
    padding: 4px 10px;
    border-radius: 8px;
}

.box8 {
  background-color: #9266F2;
  width: 100%;
  padding: 0px;
  margin: 50px;
  position: fixed;
  bottom: 0;
  left: -90px;
}

.contain{
    display:flex;
}

.pindex{
    text-align: justify;
    padding-left: 15px;
    font-size:18px;
    line-height: 1.5;
    padding-right: 10px;
}

.padopcion{
    position: fixed;
    padding-left: 41%;
    padding-right: 15px;
    top: 95px;
    text-align: justify;
    font-size:18px;
    line-height: 1.5;
}

.padopcio{
    position: fixed;
    padding-left: 30%;
    padding-right: 15px;
    top: 0px;
    font-size:18px;
    line-height: 1.5;
}

.top{
  color: white;
  position:fixed;
  left:712px;
  top:55%;

}

.top1{
  font-size: 30px;
  color: white;
  position:fixed;
  left:70%;
  top: 70px;
  text-align: right;
}

.top2{
  color: #F2A922;
  left: 110px;;
  top: 30px;
}


.img2{
    position: fixed;
    padding: 24px;
    height:150px;
    width:150px;
    top: 57%;
    left: 45%;
}

.p1{
    color: white;
    position: fixed;
    top: 75%;
    left: 45.3%;
}

.img3{
    position: fixed;
    padding: 10px;
    height:150px;
    width:150px;
    top: 57%;
    left: 35%;
}

.p2{
    color: white;
    position: fixed;
    top: 75%;
    left: 37.5%;
}

.img4{
    position: fixed;
    padding: 20px;
    height:150px;
    width:150px;
    top: 57%;
    left: 55%;
}

.p3{
    color: white;
    position: fixed;
    top: 75%;
    left: 57.8%;
}

.img7{
    position: fixed;
    padding: 24px;
    height:200px;
    width:200px;
    top: 40%;
    left: 0%;
}

.tableadp{
    
    height: 100px;
    border-radius: 4px;
    top: -250px;
    position: relative;
    padding-bottom: 120px;
    width: 1526px;
    left: -254px;
    color: white;
    border: transparent solid;
    background-color: #9266F2;
    
}
th{
   border-right: transparent solid;
   border-left: thin solid #F2A922;
   text-align: center;
   background-color: #9266F2;
}

td{
    
    border-right: transparent solid;
    border-left: thin solid #F2A922;
    text-align: center; 
}

.agrad {
    position: absolute;
    top: 20px;
    align-items: end;
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 15px 50px;
    
}

.l {
    height: 90px;
    position: fixed;
    top: 15%;
    left: 37%;
    color: #665533;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.ll {
    height: 90px;
    position: fixed;
    top: 60%;
    left: 5%;
    color: #665533;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
}

.agrad1 {
    opacity: 50%;
    padding-top: 25px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 0;

}

.agrad2 {
    opacity: 50%;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 2.5;

}

.agrad3 {
    opacity: 50%;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 1;

}

.agrad4 {
    opacity: 50%;
    padding-top: 15px;
    padding-right: 15px;
    color: white;
    font-size: 18px;
    text-align: right;
    line-height: 0;

}

.img6{
    position: absolute;
    align-items: end;
    top:30px;
    height: 90px;
    width:150px;
    padding-left: 46px;
}

.user{
    position: absolute;
    left: 35%;
    top:310px;
    color: #F2A922;
    text-align: center;
    text-align: right;
    font-size:18px;
    line-height: 1.5;
}

.user2{
    top:310px;
    text-align: right;
    position: absolute;
    right: 35%;
    color: #F2A922;
    text-align: center;
    padding: 0px;
    font-size:18px;
    line-height: 1.5;
}

.img9{
    position: absolute;
    left:44%;
    height:150px;
    width: 150px;
    top:15%;
   
}

.p9{
    color: white;
    position: fixed;
    top: 75%;
    left: 744px;
}

.top9{
  color: white;
  position:fixed;
  left:650px;
  top:55%;
  padding-bottom: 15px;

}

.top10{
  color: #F2A922;
  position:absolute;
  left:720px;
  top:35%;
  padding-bottom: 15px;

}

.img10{
    position: fixed;
    padding: 10px;
    height:150px;
    width:150px;
    top: 58%;
    left: 35%;
}

.button{
                    border-radius: 10px; 
                    width:100%;padding: 10px;
                    background-color: #260D40;
                    color:#F2A922;border-color: #260D40;
                    font-weight: bold;
                    font-size: 18px;
                    
                }
                .button:hover{
                    background-color: #4C17BF;
                    color: #F2A922;
                    border-color: #4C17BF;
                }