<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>PetCare</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
                <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
                <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
                <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
                <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
                <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

                </head>
                <body class="body1">
                    <header th:replace="layout/plantilla :: header"/>

                    </header>
                    <br>
                        <br>
                            <section class="container">           
                                <div>
                                    <img class="img9" src="/img/perfil.png" alt=""/>
                                    <h1 class=top10 style="left: 44%"> <span sec:authentication="name">Usuario</span></h1>

                                </div>
                            </section>
                            <br><br><br><br><br><br><br><br><br><br><br><br>
                                                                            <div class="d-flex justify-content-around" style="padding-bottom: 10rem">
                                                                                <div class="container" sec:authorize="hasRole('ROLE_ADMIN')" >
                                                                                    <div class="row">
                                                                                        <div class="col-md-12">
                                                                                            <div class="card">
                                                                                                <div class="card-header">
                                                                                                    <h4>Lista de usuarios</h4>
                                                                                                </div>
                                                                                                <div>
                                                                                                    <table class="table table-stryped">
                                                                                                        <thead class="thead-dark">
                                                                                                            <tr>
                                                                                                                <th style="text-align: center">Nombre</th>
                                                                                                                <th style="text-align: center" >Contraseña</th>
                                                                                                                <th style="text-align: center">Eliminar</th>
                                                                                                                
                                                                                                            </tr>
                                                                                                        </thead>
                                                                                                        <tbody>
                                                                                                            <tr th:each="user : ${users}">
                                                                                                                <td>[[${user.username}]]</td>
                                                                                                                <td>[[${user.password}]]</td>
                                                                                                                <td>
                                                                                                                    <a th:href="@{/cuenta/eliminar/} + ${user.idUsuario}" sec:authorize="hasRole('ROLE_ADMIN')" 
                                                                                                                       class="btn btn-danger">
                                                                                                                        <i class="fas fa-angle-double-right"></i> Eliminar
                                                                                                                    </a>
                                                                                                                </td>
                                                                                                                
                                                                                                            </tr>
                                                                                                        </tbody>
                                                                                                    </table>
                                                                                                </div>
                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>

                                                                            </div>

                                                                            </section>
                                                                            <footer class="footer">
                                                                                <div class="contain">
                                                                                    <p class="agrad" style="line-height: 1.2">Contacto</p>
                                                                                    <img class="img6" src="/img/img6.png" alt=""/>
                                                                                </div>
                                                                                <div>
                                                                                    <p class="agrad1">Bv. Rohrmoser, 25 mt Oeste del semáforo del Parque de la Amistad,</p>
                                                                                    <p class="agrad4">frente a la parada de Bus. 10109 San José, Costa Rica</p>
                                                                                    <p class="agrad3">Teléfonos: +506. 2220-0325 / 8484-8343</p>
                                                                                </div>

                                                                            </footer>
                                                                            </body>
                                                                            </html>
