
<html>
    <head>
        <title>PetCare</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/menu.css" rel="stylesheet" type="text/css"/>
        <link href="css/extras.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <nav class="nav">
                <a class="logo nav-link" href="index.html"> <img style="vertical-align:-20%" src="images/img1.png" alt=""/>PetCare</a>
                
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="audios.html">Productos</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="videos.html">Adopción</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="iframe.html">Carrito</a></li>
                    <li class="nav-menu-item"><a class="nav-menu-link nav-link" href="formulario.html">Cuenta</a></li>
                </ul>
            </nav>
        </header>
        <br>
        <br>
        <section class="box">
            <h1>Productos</h1>
            <table align="center" border="0" cellpadding="1" cellspacing="4" style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
		</tr>
		<tr>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
		</tr>
		<tr>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table align="center" border="0" cellpadding="1" cellspacing="4" style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
		</tr>
		<tr>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
		</tr>
		<tr>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
		</tr>
	</tbody>
</table>

<p>&nbsp;</p>

<table align="center" border="0" cellpadding="1" cellspacing="4" style="width:100%">
	<tbody>
		<tr>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
			<td style="text-align:center"><img  class="img6" src="imgprod/alimento1.png" alt="" style="height:250px; width:250px"/></td>
		</tr>
		<tr>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
			<td style="text-align:center">A&ntilde;adir al carrito</td>
		</tr>
		<tr>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
			<td style="text-align:center">Lista de deseos</td>
		</tr>
	</tbody>
</table>
        </section>
        <footer class="footer">
            <div class="container">
            <p class="agrad">Contacto</p>
            <img  class="img6" src="images/img6.png" alt=""/>
            </div>
            <div>
            <p class="agrad1">Bv. Rohrmoser, 25 mt Oeste del semáforo del Parque de la Amistad,</p>
            <p class="agrad1">frente a la parada de Bus. 10109 San José, Costa Rica</p>
            <p class="agrad2">Teléfonos: +506. 2220-0325 / 8484-8343</p>
            </div>
        </footer>
    </body>
</html>
