<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>PetCare</title>
        <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
                <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
                
                </head>
        <body class="body1">
                    <header th:replace="layout/plantilla :: header"/>           
                    </header>
                    <section class="box1" style="position: absolute">
                        <h1  style="position: absolute" class="top1">Servicio de<br>Adopción</h1>
                    </section>
                    <div>
                        <p style="position: absolute" class="padopcion"><a th:href="@{/adopcion/nuevo/}" sec:authorize="hasRole('ROLE_ADMIN')">Nuevo</a><br>Lorem ipsum dolor sit amet consectetur adipiscing elit cum praesent condimentum, ligula massa blandit vulputate varius sed nullam enim ante, aliquet aliquam cursus cubilia molestie justo viverra dignissim nascetur. Posuere praesent quis facilisi cras fusce orci dignissim ultricies nam metus, netus lectus elementum congue risus et eu aliquet habitant at, dictum velit nullam semper primis augue mollis erat mattis. Conubia suspendisse sed commodo massa sapien varius fringilla erat pulvinar faucibus praesent facilisi eu proin ridiculus quis vivamus.</p>
                    </div>
                    <div class="box2" th:if="${animales!=null and !animales.empty}"> 
                        <table  class="tableadp" border="1">     
                            <tr>
                                <th style="width: 150px; text-align: center">Foto</th>
                                <th style="width: 100px;text-align: center">Nombre</th>
                                <th style="width: 100px;text-align: center">Edad</th>
                                <th style="width: 200px;text-align: center">Raza</th>
                                <th style="width: 400px;text-align: center">Descripcion</th>
                            </tr>
                            <tr th:each="animal : ${animales}">
                                <td><img style="height: 150px; width: 150px;" src="/img/img3.png" alt=""/></td>                  
                                <td>[[${animal.nombre}]]</td>
                                <td>[[${animal.edad}]]</td>
                                <td>[[${animal.raza}]]</td>
                                <td ><a th:href="@{/adopcion/modificar/} + ${animal.idAnimal}" sec:authorize="hasRole('ROLE_ADMIN')">Editar</a><br> [[${animal.descripcion}]]</td>
                            </tr>
                        </table> 
                        
                    </div>
                    <div class="box2" th:if="${animales==null or animales.empty}">
                        <h2  style="position: fixed;top:315px;left: 15px;color: white">No hay opciones de adopción disponibles en este momento.<br><a th:href="@{/adopcion/nuevo/}">Nuevo</a></h2>

                    </div>
                    <footer th:replace="layout/plantilla :: footer"/>


                </body>
                </html>
