<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://wwww.thymeleaf.org" 
      xmlns:sec="http://thymeleaft.org/extras/spring-security">
    <head>
        <title>PetCare</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>

    </head>
    <body class="body1">
        <header th:replace="layout/plantilla :: header"/>
            
        </header>
        <br>
        <br>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
